{% if substanz %}
    <ul>
    <h1>{{ substanz.bezeichnung }}</h1>
    <p>Weitere Bezeichnungen: {{ substanz.aka }}
    <p>Botanischer Name: {{ substanz.name_botanisch }}
    <p>Herkunft: {{ substanz.herkunft }}
    <p>Traditionelle Verwendung: {{ substanz.tradition }}
    <p>Preis pro Gramm: {{ substanz.preis }}
    <p><a href="{% url 'rauch:eigenschaft_liste' %}">Eigenschaften</a>:<p>
      {% for eigenschaft in eigenschaft_liste %}
	  <li><a href="{% url 'rauch:eigenschaft_singleform' eigenschaft.id %}">{{ eigenschaft.bezeichnung }}</a></li>
      {% endfor %}
    </ul>
{% else %}
    <p>No data found.</p>
{% endif %}